$blue: rgb(65, 160, 244);
$transfer-duration: 0.3s;

.button {
    display: inline-block;
    position: relative;
    padding: 7px 18px;

    border-radius: 15px;
    border: 1px solid rgba($blue, 0.8);
    background-color: rgba($blue, 1);
    color: white;

    text-align: center;
    font-size: 110%;
    font-weight: lighter;
    font-family: Helvetica;

    -webkit-transition-duration: $transfer-duration;  /* Safari */
    transition-duration: $transfer-duration;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: $blue;
    }

    svg {
        padding-right: 5px;
        // font-size: 100%;
    }
}