@import "../shared";


#queryBuilder {
    position: relative;
    width: 100%;
    font-size: 120%;
    text-align: left;
    margin-top: 10px;

    #relation-container {
        // text-align: center;
        // width: 100%;

        #relation {
            display: inline-block;
            border-top: 2px solid $orange;
            border-bottom: 2px solid $orange;
            // background-color: rgba($orange, 0.1);
            padding: 5px 40px;
            // border-radius: 3px;
            margin: 15px 0;
        }

    }
}