#queryBuilder {
    // padding-left:10px;
    position: relative;
    width: 100%;
    font-size: 150%;
    text-align: left;
    // background-color: #e6e6e6;

    // #qbText {
    //     padding-left: 5px;
    //     color: #FF595E;
    // }
}