@import "../shared";

.query-item {
    position: relative;

    .item-word {
        border: $query-item-border-style;
        border-radius: 3px;
        padding: 5px 10px;
        display: inline-block;
        margin: 3px 10px 3px 0;
    }

    & > svg { color: $blue ; }
}