.query-item {
    position: relative;

    .item-word {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 5px 10px;
        display: inline-block;
        margin: 3px 10px 3px 0;
    }
}