.query-item {
    // position: relative;

    .item-word {
        border: 1px solid grey;
        border-radius: 3px;
        padding: 3px;
        // height: 100%;
        // position: relative;
        display: inline-block;
        margin: 3px 5px 3px 0;
    }
}