@import "../shared";

#login-modal {
    #user {
        font-size: 150%;
        position: absolute;
        right: 20px;
        top: 10px;
        z-index: 1;
        border: none;

        svg {
            margin-right: 10px;
        }
    }

    .modal-inner-content {
        margin: 30px 50px;
        text-align: center;

        h2 {
            margin-bottom: 30px;
        }

        .confirm-button {
            margin: 10px 0;
            width: 100%;
            height: 40px;
            color: white;
            background-color: rgba($blue, 1);
            border-color: rgba($blue, 1);
            border-radius: 5px;

            &:hover {
                background-color: rgba($blue, 0.9);
                border-color: rgba($blue, 0.9);                
            }
        }

        #close-button {
            border: none;
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 130%;

            &:hover {
                color: $blue;
            }
        }

        svg {
            margin-right: 8px;
        }
    }
}