@import "../shared";


.dropdown button {
    height: 100%;
    border: $query-item-border-style;
    background-color: white;
    color: black;
    padding: 5px 20px;;

    &:active { 
        color: black; 
        background-color: transparent;
    }
}

.dropdown-item {
    &:hover { background-color: rgba($blue, 0.1) }
    &:active { background-color: rgba($blue, 0.6) }
}