$search-bar-height: 50px;   // same as button width and height
$search-bar-width: calc(100% - #{$search-bar-height});  // save space for button

$blue: rgb(65, 160, 244);
$orange: rgb(244, 149, 65);

#searchBar{
  width: $search-bar-width;
  height: $search-bar-height;
  position: relative;
  margin:0;
}

#searchText {
  font-size: 25px;
  width: 100%;
  border: 2px solid $blue;
  padding: 5px 10px;
  height: 100%;
  border-radius: 5px;
  outline: none;
  display: inline-block;

  &:focus{ color: $blue; }
}

$button-off: calc(-1 * (#{$search-bar-height} - 10px));
#searchButton {
  position: absolute;
  right: $button-off;
  width: $search-bar-height;
  height: $search-bar-height;
  border: 1px solid $blue;
  background: $blue;
  text-align: center;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;

  // &:hover { color: $orange; }
}
