$blue: rgb(65, 160, 244);
$orange: rgb(244, 149, 65);

#apiTest {
    input, #pred-button { 
        height: 30px;
    }

    input {
        // position: relative;
        // display: inline-block;
        padding: 5px;
        display: block;
        font-size: 120%;
        width: 70%;
        // margin-bottom: 10px;
    }

    #pred-button {
        // display: inline-block;
        border: 2px solid $blue;
        border-radius: 2px;
        width: 50%;

        &:hover {
            cursor: pointer;
            color: $orange;
        }
    }

    #pred {
        margin-top: 10px;
        font-size: 150%;
    }

    #FA {
        font-weight: bold;
        border: 1px solid $orange;
        padding: 3px 6px;
        margin-top: 10px;
        display: inline-block;
    }
}