$blue: rgb(65, 160, 244);
$orange: rgb(244, 149, 65);

.titleSection {
    position: absolute;
    border: 1px solid green;
    padding: 10px;

    $title-width: 20%;
    &#title { 
        width: $title-width;
        color: $blue;
        font-size: 58px;

        #A { color: $orange; }
    }
    &#description {
        width: 20%;
        left: $title-width;
        font-size: 20px;
    }
    &#account {
        width: 10%;
        right: 0;
        text-align: right;
        font-size: 20px;
        padding-top: 15px;

        #accountText { padding-left: 5px; }

        svg {
            font-size: 150%;
        }

        &:hover {
            cursor: pointer;
            color: $blue;
        }
    }
}