$blue: rgb(65, 160, 244);
$orange: rgb(244, 149, 65);
$transfer-duration: 0s;

.result {
    -webkit-transition-duration: $transfer-duration;  /* Safari */
    transition-duration: $transfer-duration;

    padding: 20px 20px;
    font-size: 110%;
    border-bottom: 1px solid rgba(grey, 0.3);
    border-collapse: collapse;

    &:hover {
        cursor: pointer;
        background-color: rgba(#FFCA3A, 0.2);

        svg { color: #FFCA3A; }
    }

    .search-result-text {
        padding-left: 20px;
    }

    a { 
        text-decoration: none; 
        color: black;
    }

}