@import "../variables";

#searchResults {
    border: 1px solid rgba(grey, 0.3);
    // font-size: 100%;
    // border-collapse: collapse;

    #search-result-title {
        font-size: 150%;
    }

    #query {
        font-size: 160%;
        color: #8AC926;
    }
    


}

