$blue: rgb(65, 160, 244);
$orange: rgb(244, 149, 65);

#searchResults {

    #search-result-title {
        font-size: 180%;
    }

    #query {
        font-size: 150%;
        color: #8AC926;
    }



}

