@import "../variables";


#search-section {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid red;

    #advanced-search-bar{
        width: $search-bar-width;
        height: 100%;
        display: inline-block;
        float: left;
        position: relative;
        width: 80%;
        margin:0;

        #searchText {
            font-size: 23px;
            width: 100%;
            border: 2px solid rgba($blue, 0.8);
            padding: 5px 10px;
            height: 100%;
            border-radius: $border-radius 0 0 $border-radius;
            outline: none;
            display: inline-block;

            // &:focus{ color: $orange; }
        }

        #searchButton {
            position: absolute;
            right: $button-offset;
            width: $search-bar-height;
            height: 100%;
            border-radius: 0 $border-radius $border-radius 0;
            font-size: 20px;
            @extend .search-bar-button-style;
        }
    }

    #basic-search-button {
        // position: absolute;
        float: right;
        height: 100%;
        width: 10%;
        border-radius: $border-radius;
        // font-size: 0px;
        @extend .search-bar-button-style;
    }
}





