@import "../variables";


#search-section {
    position: relative;
    width: 100%;
    height: 100%;
    // border: 1px solid red;

    #advanced-search-bar{
        width: $search-bar-width;
        height: 100%;
        display: inline-block;
        float: left;
        position: relative;
        width: 80%;
        margin:0;

        .searchText {
            font-size: 23px;
            width: 40%;
            border: 2px solid rgba($blue, 0.8);
            padding: 5px 10px;
            height: 100%;
            border-radius: $border-radius;
            outline: none;
            display: inline-block;

            // &:focus{ color: $orange; }
        }

        #searchText_2 {
            border-radius: $border-radius 0 0 $border-radius;
        }

        #searchButton {
            position: absolute;
            right: $button-offset;
            width: $search-bar-height;
            height: 100%;
            border-radius: 0 $border-radius $border-radius 0;
            font-size: 20px;
            @extend .search-bar-button-style;
        }

        .drop-down-container {
            // position: relative;
            display: inline-block;
            width: 20%;
            height: 100%;
            // margin: 0 5%;

            .dropdown button {
                height: 100%;
                border: $query-item-border-style;
                background-color: white;
                color: black;
                padding: 5px 20px;;

                &:active { 
                    color: black; 
                    background-color: transparent;
                }
            }

            .dropdown-item {
                &:hover { background-color: rgba($blue, 0.1) }
                &:active { background-color: rgba($blue, 0.6) }
            }
        }
    }

    #basic-search-button {
        // position: absolute;
        float: right;
        height: 100%;
        width: 10%;
        border-radius: $border-radius;
        // font-size: 0px;
        @extend .search-bar-button-style;
    }
}





